@charset "utf-8";

/*
    Approach: MaintainableCSS <https://maintainablecss.com/>
*/
/* #region ------------------------------------------------------------- base */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 100%;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
}

main {
    flex: 1;
    overflow: auto;
}

footer {
}

hr {
    display: none;
}

h1,
h2,
h3,
p {
    line-height: 1.5em;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: normal;
    margin: 0 0 8px 0;
}

p {
    margin: 0 0 16px 0;
}

a:link,
a:hover,
a:visited,
a:active {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
input,
textarea {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 4px;
}

button {
    cursor: pointer;
    font-weight: bold;
}

label {
    display: inline-block;
    margin-bottom: 4px;
}
/* #endregion --------------------------------------------------------------- */

.a11y {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* #region ------------------------------------------------------------- form */
.form {
    margin: 0;
    padding: 0;
}

.form-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.form-legend {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
}

.form-fields {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-field {
    margin-bottom: 8px;
}

.form-field--buttonBar {
    margin-bottom: 0;
}

.form-button {
    background-color: #dd412b; /* #ff876d; */
    border: 2px solid #dd412b; /* #ff876d; */
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
}

.form-button--login {
    display: block;
    width: 100%;
}

.form-button:hover {
    border-color: #ff1e00;
}

.form-input {
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    padding: 8px;
}

.form-input-isInvalid {
    border-color: #f00;
}

.form-input--login {
    display: block;
    width: 100%;
}
/* #endregion --------------------------------------------------------------- */

/* #region ------------------------------------------------------------- page */
.pageDefault {
    background-color: #2372e8;
    color: #fff;
    height: 100%;
}

.pageDefault-form {
    margin: 0 auto;
    padding-top: 30vh;
    width: 15em;
}

.pageChat {
    height: 100%;
}
/* #endregion --------------------------------------------------------------- */

/* #region ---------------------------------------------------------- widgets */
.messages {
    background-color: #ddd;
    background-image: url("./../img/chat_bg.png");
    color: #000;
    height: 100%;
    margin: 0 auto;
    max-width: 592px;
    overflow: auto;
    padding: 0 24px;
    width: 592px;
}

.message {
    padding: 0 0 16px 0;
}

.message:first-child {
    padding-top: 16px;
}

.message-wrap {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: #000;
    max-width: 208px;
    padding: 16px;
}

.message-isMe {
    text-align: right;
}

.message-isMe .message-wrap {
    background-color: #fcf6c5;
    display: inline-block;
    text-align: left;
}

.message-author {
    color: #999;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.message-message {
    margin: 0;
    padding: 0;
}

.message-time {
    color: #999;
    font-size: 90%;
    margin: 0;
    padding: 0;
    text-align: right;
}

.sendForm {
    background-color: #2372e8;
    color: #fff;
    padding: 8px;
    margin: 0 auto;
    max-width: 624px;
    width: 624px;
}

.sendForm-fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.sendForm-legend {
    /* see a11y: hidden but readable for screen readers */
}

.sendForm-fields {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sendForm-message {
    width: 100%;
}

.sendForm-input {
    padding: 8px;
    width: 100%;
}

.sendForm-input:focus {
    outline-color: #005de7;
}

.sendForm-button {
    padding-left: 8px;
}

@media screen and (max-width: 756px) {
    .messages,
    .sendForm {
        max-width: auto;
        width: auto;
    }
}
/* #endregion --------------------------------------------------------------- */
